*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.cuisins{
    background-color: rgb(127, 229, 255);
    color: blueviolet;
    text-align: center;
    padding: 14px;
}

.sins{
    background-color: rgb(53, 172, 228);
    color: white;
    font-size: 18px;
    padding-top: 14px;
    padding-bottom: 14px;
}
h4{
    background-color: rgb(210, 122, 232);
    padding: 4px;
    font-size: 14px;
}
.order{
    background-color: rgb(157, 0, 255);
    color: white;
    padding: 8px;
}
.rice{
    background-color: rgb(208, 127, 255);
    color: black;
}
.rice-head{
    background-color: blueviolet;
    text-align: center;
    font-size: 30px;
    padding: 8px;
}
.pic1-rice{
    background-color: bisque;
    width: fit-content;
    padding: 8px;
}
.pic1-sty{
    width: 100px;
    object-fit: cover;
    border-radius: 8px;
}
.rice-name{
    color: black;
    text-align: center;
    margin-top: 8px;
}